body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 80px;
    background-color: cyan;
    ul li {
        list-style-type: none;
    }
    .container {
        position: absolute;
        left: 117px;
        top: 27px;
    }
    
    .logo {
        background-color: #5E81FE;
        height: 30px;
        width: 30px;
        position: absolute;
        border-radius: 50%;
    }
    
    .nav-links ul li{
        display: inline-block;
        
        a {
            text-decoration: none;
            color: #697CA6;
            font-size: 15px;
            margin-left: 30px;

            &:hover {
                 color: #5E81FE;
            }
        }
        
    }
   
    .media-brands {
        ul {
            display: inline;
        }
        ul li {
            display: inline-block;
        }
        a {
            padding: 13px 16px;
            text-decoration: none;
            border-radius: 2px;
        }
        .get-started {
            margin-left: 40px;
            background-color: #D2E1FF;
            color:  #3A79FF;

            &:hover {
                color: #697CA6;
            }
        }
    }
}
